.gitignore 
.settings
.buildpath
.project
.gitignore
/assets/*
!/assets/*.html
/avatar/*
!/avatar/*.html
/protected/runtime/*.log
/protected/runtime/application.log.*
/protected/runtime/cache/*
env.php
